:root {
    
    padding: 10px;
    background-color: #E8F5E9;

}
img{
    height: 150dpi;
}
h1 {
    color: white;
    font: bold;
    align-content: center;
    font-size: 25px;
    background-color: #1B5E20;
    padding: 5px;
}
#pole{
    font-size: 18px;
    color: #5D9B5D;
    font-weight: bolder;
    text-align: center;
    margin: 5px;
}
select{
    align-content: center;
}
#wycena{
    text-align:right;
}
#felgi {
    background-color: #9AEB9A;
}